$image-ratio: 21 / 9;

.Header {
  overflow: hidden;
  z-index: -1;
  position: relative;
  max-height: 1920px / $image-ratio;
}

.Header-background {
  width: 100%;
}

.Header-bar {
  position: absolute;
  left: 0;
  top: 66% - 33% / 2;
  min-height: 33%;
  min-width: 66%;
  padding: 2em;
  background-color: #fff;
  background-color: rgba(255,255,255,.75);
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
  transform: translateX(10%) rotateZ(-3.5deg);
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* This helps us tremendously in getting this fucker responsive. */
.Header-bar-eventInfo {
  font-size: 16px;
}

.Header-bar-eventInfo-title { width: 40em; }
.Header-bar-eventInfo-description {
  font-size: 1em * 1.5;
  margin-left: 9em * (1 / 1.5);
  font-weight: bold;
}
.Header-bar-eventInfo-date,
.Header-bar-eventInfo-location {
  font-size: 1em;
  margin-left: 9em;
}
