@media screen AND (min-width: 725px) {
  .mainNavigation_button{
    display: none;
  }
  .mainNavigation_container{
    display: inline-block;
    margin: 0 auto;
  }
  .mainNavigation_item{
    float: left;
    padding: 0.3em 0.9em;
  }
}

@media screen AND (min-width: 1024px){
  .mainNavigation_item{
    width: (100%/7);
  }
  .mainNavigation_container{
    max-width: 100%;
    display: block;
    margin: 0;
  }

}