.mainNavigation {
	margin:0;
	background-color: $gray01;
	color: $fontColorLight;
	position: fixed;
	width: 100%;
  text-align: center;
  z-index: 100;
}

.mainNavigation_button {
	display: block;
	text-align: left;
	cursor: pointer;
  line-height: 3 * 1.333;
  font-size: 0.75em;
  span {
    color: lighten($gray01, 25%);
    display: inline-block;
  }
  img {
    vertical-align: middle;
    width: 20px;
    margin-bottom: .3em; /* the baseline of our font is not where you expect it */
    margin-left: .5em;
    margin-right: .5em;
  }
}
.mainNavigation_container {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  &.activeMenu {
		display: block;
	}
}

.mainNavigation_item {
	text-align: center;
  font-size: 1em;
  line-height: 1.5;
  a {
    @include lightLink();
    display: block;
    padding: 0.5em 0;
	}
}


@media screen and (min-width: 860px) {
  .mainNavigation_button {
    display: none;
  }
  .mainNavigation_container {
    display: inline-block;
    margin: 0 auto;
  }
  .mainNavigation_item {
    float: left;
    padding: 0.3em 0.9em;
  }
}

