.mainNavigation{
	margin:0;
	padding: 0.3em 0;
	background-color: $gray01;
	color: $fontColorLight;
}

.mainNavigation_button{
	display: block;
	text-align: center;
	cursor: pointer;
	span{
		font-size: 1.5em; 
		text-transform: uppercase;
	}
}
.mainNavigation_container{
	display: none;
	list-style: none;
	padding: 0;
	&.activeMenu{
		display: block;
	}
}

.mainNavigation_item{
	margin: 0.5em auto;
	text-align: center;

	a{
		@include lightLink();
	}
}