/**
 * @author office@manuelwieser.com (Manuel Wieser)
 */

.Video {
  position: relative;
  padding-bottom: 75%;
  embed,
  iframe,
  object, {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.Video--widescreen {
  padding-bottom: 56.25%;
}

