@import 'variables';

*, *:before, *:after{
	box-sizing: border-box;
}

html, body, .site { height: 100%; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .cf:after {
    clear: both;
  }

body {
 margin: 0;
 font-family: 'Open Sans', sans-serif;
}

a{
 text-decoration: none;
}



.row{
  max-width: 60em;
  margin: 0 auto;
}


@mixin lightLink(){
  color: $fontColorLight;
  &:visited{
    color: $fontColorLight;
  }
  &:hover{
    color: darken($fontColorLight, 10);
  }
}

@mixin standardLink(){
  color: $gameStagePrimaryColor;
  text-decoration: none;
  transition: color 175ms;
  &:visited{
    color: darken($gameStagePrimaryColor, 5);
  }
  &:hover{
    color: $gameStageSecondaryColor;
  }
}


a{
  @include standardLink();
}

@import 'navigation';
@import 'header';
@import 'footer';
@import 'mediaQueries';
