---
layout: default
title: site.name
---

<section class="row pagesection" id="aboutSection">
  <!-- was ist die game expo linz -->
  {% capture about %}{% include about.markdown %}{% endcapture %}
  {{ about | markdownify }}
</section>

<section class="row pagesection" id="exhibitorsSection">
  {% capture exhibitor %}{% include exhibitors.markdown %}{% endcapture %}
  {{ exhibitor | markdownify }}
</section>

<section class="row pagesection" id="gameMuseumSection">
  {% capture gameMuseum %}{% include gamemuseum.markdown %}{% endcapture %}
  {{ gameMuseum | markdownify }}
</section>

<section class="row pagesection" id="retroExchangeSection">
  {% capture retroexchange %}{% include retroexchange.markdown %}{% endcapture %}
  {{ retroexchange | markdownify }}
</section>

<section class="row pagesection" id="esportsSection">
  {% capture esports %}{% include esports.markdown %}{% endcapture %}
  {{ esports | markdownify }}
</section>

<section class="row pagesection" id="partnerSection">
  {% capture partner %}{% include partner.markdown %}{% endcapture %}
  {{ partner | markdownify }}
</section>

<section class="row pagesection" id="contactSection">
  {% capture contact %}{% include contact.markdown %}{% endcapture %}
  {{ contact | markdownify }}
</section>

<section class="row pagesection" id="activitiesSection">
  {% capture activities %}{% include activities.markdown %}{% endcapture %}
  {{ activities | markdownify }}
</section>
