<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}{{ page.title }}{% endif %}{{ site.name}}</title>
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
</head>
<body>

  <div class="site">
    <nav class="mainNavigation" role="navigation">
      <div class="mainNavigation_button" id="menuToggle">
        <img src="{{ site.baseurl }}/images/menuIcon.png">
      </div>
      <ul class="mainNavigation_container row cf">
        <li class="mainNavigation_item"><a href="#aboutSection">About</a></li>
        <li class="mainNavigation_item"><a href="#exhibitorsSection">Aussteller</a></li>
        <li class="mainNavigation_item"><a href="#gameMuseumSection">Game Museum</a></li>
        <li class="mainNavigation_item"><a href="#retroExchangeSection">Retrobörse</a></li>
        <li class="mainNavigation_item"><a href="#esportsSection">e-Sports</a></li>
        <li class="mainNavigation_item"><a href="#partnerSection">Partner</a></li>
        <li class="mainNavigation_item"><a href="#contactSection">Kontakt</a></li>
      </ul>
    </nav>

    <header class="Header">
      <img class="Header-background" src="{{ site.baseurl }}/images/tabakfabrik.jpg" alt="Tabakfabrik">
      <div class="Header-bar">
        <div class="Header-bar-eventInfo">
          <img class="Header-bar-eventInfo-title" src="{{ site.baseurl }}/images/logo.png" alt="GameStage Expo">
          <p class="Header-bar-eventInfo-description">Spieleausstellung und -börse</p>
          <p class="Header-bar-eventInfo-date">12.–14. September 2014</p>
          <p class="Header-bar-eventInfo-location">Tabakfabrik Linz</p>
        </div>
      </div>
    </header>

    {{ content }}

    <footer class="footer">
      <div class="row cf">
        {% capture footer %}{% include footer.markdown %}{% endcapture %}
        {{ footer | markdownify }}
      </div>
    </footer>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
</body>
</html>
